<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.diagnostics>
        <sources>
            <!--<source name="System.Windows.Data" switchName="SourceSwitch" >
                <listeners>
                    <add name="OutputListener" />
                    <remove name ="Default" />
                </listeners>
            </source>-->
            <source name="CompanyName.ApplicationName" switchName="OffSwitch">
                <listeners>
                    <add name="TextListener"/>
                </listeners>
            </source>
            <!--
            <source name="System.Windows.DependencyProperty" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
                  <!--
            <source name="System.Windows.Freezable" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
                  <!--
            <source name="System.Windows.RoutedEvent" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
                  <!--
            <source name="System.Windows.Media.Animation" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
                  <!--
            <source name="System.Windows.NameScope" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
                  <!--
            <source name="System.Windows.ResourceDictionary" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
                  <!--
            <source name="System.Windows.Markup" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
                  <!--
            <source name="System.Windows.Documents" switchName="SourceSwitch" >
              <listeners>
                <add name="TextListener" />
              </listeners>
            </source>
            -->
            <source name="System.Windows.Shell" switchName="All" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="TextListener"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="AllSwitch" value="All"/>
            <add name="OffSwitch" value="Off"/>
            <!--add name="SourceSwitch" value="Verbose" -->
            <!--add name="SourceSwitch" value="Warning" -->
            <!--add name="SourceSwitch" value="Activity" -->
        </switches>

        <sharedListeners>
            <!-- This listener sends output to the console -->
            <add name="OutputListener" type="System.Diagnostics.ConsoleTraceListener"/>
            <!-- This listener sends output to an Xml file named AvTrace.xml -->
            <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="None" initializeData="AvTrace.xml"/>
            <!-- This listener sends output to a file named AvTrace.txt -->
            <add name="TextListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.txt"/>
        </sharedListeners>
        <trace autoflush="true" indentsize="4"></trace>
    </system.diagnostics>
</configuration>